// bower:scss
// endbower

.flyer-paper {
  max-width: 44em;
  margin: 2em auto;
}

.flyer-paper h1 {
  display: block;
  margin: .25em 0 0;
}

.flyer-label {
  vertical-align: calc(.5em);
}

.flyer-avatar {
  border-radius: 50%;
}

.flyer-speaker-data {
  align-self: center;
}
.flyer-speaker-data strong {
  display: block;
}
.flyer-speaker-data em {
}

.flyer-footer {
}
.flyer-footer p {
  margin: .1em 0;
}
.flyer-footer img {
  max-width: 90%;
}
